body
{
  background-image: url(../images/groceries.jpeg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
on the container’s size */
  background-size: cover; 
}
h1, p
{
  text-align: center;

}
.card
{
  opacity:0.8;
  background-image: linear-gradient(to bottom right, #cfd9df,#e2ebf0);
  border:4px solid #68B2A0;
}
.card-body
{
  font-style: italic;
  font-weight: 800;
  font-size: 25px;
}